RewriteEngine On

# Handle Angular and other front-end framework routing, return 404 errors for missing files
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite everything to index.php
RewriteRule ^(.*)$ index.php [QSA,L]